<div class="container">
  <div class="header">
    <h2>Employees</h2>
    <button pButton type="button" (click)="navigateToCreate()" class="p-button-success text-primary fw-bold">
      <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
      Create Employee
    </button>
  </div>

  <p-table #dt [value]="employeesWithPages.items" [loading]="loading" [paginator]="true" [rows]="size" [totalRecords]="employeesWithPages.Records"
    [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="onPageChange($event)" [sortMode]="'single'" (sortFunction)="customSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th class="p-2 rounded-2 text-center mx-2"  pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="position">Position <p-sortIcon field="position"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.position}}</td>
        <td>
          <div class="action-buttons">
            <button pButton type="button" (click)="navigateToUpdate(employee.id)" class="p-button-warning p-button-sm">
              <fa-icon [icon]="faPencil" class="text-warning"></fa-icon>
            </button>
            <button pButton type="button" (click)="deleteEmployee(employee.id)" class="p-button-danger p-button-sm">
              <fa-icon [icon]="faTrash" class="text-danger"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
